.dropdown-menu {
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease, display 0.5s;
}

.dropdown-show .dropdown-menu {
  display: block;
  opacity: 1;
  max-height: 200px; /* Altezza massima del dropdown */
}
