.profileImg {
  max-width: 22%;
  transform: translateY(-86%) translateX(20px);
}
.infoBox {
  background-color: #dde7f1;
}
.name {
  margin-top: -15%;
}
body {
  background-color: #f4f2ee;
  max-width: 1128px;
  margin-inline: auto;
}
